alabaster
amqp
anyjson
Babel
beautifulsoup4
billiard
celery
cycler
decorator
Django
django-celery
django-crispy-forms
django-debug-toolbar
django-filter
django-grappelli
-e git+https://github.com/niwibe/django-pgjson#egg=django_pgjson-0.3.1
-e git+https://github.com/cpbotha/django-shell-ipynb.git#egg=django_shell_ipynb
djangorestframework
-e git+https://github.com/linuxlewis/djorm-ext-pgfulltext.git#egg=djorm_ext_pgfulltext
docutils
feedparser
findspark
ipykernel
ipython
ipython-genutils
Jinja2
jsonschema
jupyter-client
jupyter-core
kombu
Markdown
MarkupSafe
matplotlib
mistune
mpld3
nbconvert
nbformat
nltk
notebook
numpy
pandas
path.py
pexpect
pickleshare
psycopg2
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
pyzmq
redis
requests
scikit-learn
scipy
simplegeneric
six
sklearn
snowballstemmer
Sphinx
sphinx-rtd-theme
SQLAlchemy
sqlparse
terminado
tornado
traitlets
youtube-dl
