{% extends 'mainpage/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-2">
        <div id="facets" class="panel panel-default">
            <div class="panel-heading">
                <strong>Facets</strong>
            </div>
            <div class="list-group">
                <div class="source-facets well list-group-item">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="starter-template">
            {% include 'mainpage/main-table.html' with title='News Items' %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script id="newsitem-row-template" type="text/html">
    <% var lines = obj.text.split('\n'); %>
    <% var arrowClass = obj._expanded ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'; %>
    <h4 class="list-group-item-heading">
        <%- lines[0] %>
        <span class="pull-right small ">
            <a class="link-button glyphicon glyphicon-link" href="<%- obj.url %>"></a>
            <span class="expand-button glyphicon <%- arrowClass %>" role="button"></span>
        </span>
    </h4>
    <div class="list-group-item-text small">
        <ul>
            <li style="display: inline"><%- publish_date %></li>
            <li style="display: inline"><%- source %></li>
        </ul>
    </div>
    <div class="collapse list-group-item-text">
        <% for (i in lines) { %>
        <p><%- lines[i] %></p>
        <% }%>
    </div>
</script>
<script async data-main="{% static 'mainpage/mainpage.js' %}"
        src="{% static 'node_modules/requirejs/require.js' %}"></script>
{% endblock %}
