{% extends 'mainpage/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-2">
        <div id="facets" class="panel panel-default">
            <div class="panel-heading">
                <strong>Facets</strong>
            </div>
            <div class="list-group">
                <div class="source-facets well list-group-item">

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="starter-template">
            <div id="main-table" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left"><strong>News Items</strong></h4>

                    <div class="btn-group btn-group-xs pull-right" role="group">
                        <a class="link-prev btn btn-default" role="button"><span
                                class="glyphicon glyphicon-chevron-left"></span></a>
                        <a class="link-next btn btn-default" role="button"><span
                                class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
                <div class="panel-heading clearfix">
                    <span class="nr-hits">0</span> Hits Page: <span class="page-number">1</span>/<span
                        class="page-max">1</span>
                </div>
                <div class="panel-heading clearfix input-group">
                    <input type="search" class="search-box form-control" placeholder="Search">

                    <div class="input-group-btn">
                        <button class="search-box-clear-button btn btn-primary"><i
                                class="glyphicon glyphicon-remove-circle"></i></button>
                        <button class="btn btn-primary"><i class="glyphicon glyphicon-wrench"></i></button>
                    </div>
                </div>
                <div class="list-group">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script id="newsitem-row-template" type="text/html">
    <% var lines = obj.text.split('\n'); %>
    <% var arrowClass = obj._expanded ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'; %>
    <h4 class="list-group-item-heading">
        <%- lines[0] %>
        <span class="pull-right small ">
            <a class="link-button glyphicon glyphicon-link" href="<%- obj.url %>"></a>
            <span class="expand-button glyphicon <%- arrowClass %>" role="button"></span>
        </span>
    </h4>
    <div class="list-group-item-text small">
        <ul>
            <li style="display: inline"><%- publish_date %></li>
            <li style="display: inline"><%- source %></li>
        </ul>
    </div>
    <div class="collapse list-group-item-text">
        <% for (i in lines) { %>
        <p><%- lines[i] %></p>
        <% }%>
    </div>
</script>
<script async data-main="{% static 'mainpage/mainpage.js' %}"
        src="{% static 'node_modules/requirejs/require.js' %}"></script>
{% endblock %}
