<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script async data-main="{% static 'mainpage/mainpage.js' %}"
            src="{% static 'node_modules/requirejs/require.js' %}"></script>
</head>
<body>
<div id="main-table">
    <ul>
        <li><a class="link-prev">Prev</a></li>
        <li><a class="link-next">Next</a></li>
    </ul>
    <table>
        <thead></thead>
        <tbody></tbody>
    </table>
</div>

<script id="newsitem-row-template" type="text/html">
    <td><%- source %></td>
    <td><%- text %></td>
</script>
</body>
</html>