{% extends 'mainpage/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="col-md-12">
        <div class="starter-template">
            <ul>
                <li><a href="http://10.0.3.5:5555/">Celery Flower</a></li>
                <li><a href="http://10.0.3.6:8080/">Spark Master</a></li>
                <li><a href="http://10.0.3.6:8081/">Spark Slave 1</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{#    <script async data-main="{% static 'mainpage/collectionspage.js' %}"#}
{#        src="{% static 'node_modules/requirejs/require.js' %}"></script>#}
    <script type="application/javascript">
        document.getElementById('status-nav').setAttribute('class', 'active');
    </script>
{% endblock %}
